<!doctype html>

<html>
  
  <head>
    <title>language trainers</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}" >

  </head>
  
  <body>
    <div class="container">
    <h3 class="header">
      Welcome to our language tests!
      <a href="{{ url_for('not_ready') }}" class="btn pull-right btn-link">Register</a>
      <a href="{{ url_for('not_ready') }}" class="btn pull-right btn-link">Log in</a>
      <br/>
      <br/>
    </h3>
    <div class="container-fluid">
        <h4>Choose language</h4>


    <form method="post">
    <input type='hidden' name='csrfmiddlewaretoken' value='TAbjL0DOZhX1czCTuabXCZKwMfEBv5v0' /> 
    <table class="table">
      <tbody>
        <tr>
          <td>
            {% if chosen != True %}
              <select class="form-control" name="language">
                <option value='not chosen'>please choose a language to train</option>
                <option value=Russian>Russian</option>
                <option value=English>English</option>
<!--                 <option value=Italian>Italian</option>
                <option value=Polish>Polish</option> -->
              </select>
            {% else %}
              <select class="form-control" name="language">
                <option value=Russian>Russian</option>
                <option value=English>English</option>
<!--                 <option value=Italian>Italian</option>
                <option value=Polish>Polish</option> -->
              </select>
            {% endif %}
            </td>
            <td>
            <button class="btn btn-success" type="submit" name="action" value="select">Select</button>
            </td>              
          </tr>
            {% if chosen == True %}
          <tr> 
          <td>
            <h4>Choose the topic</h4>
              <select class="form-control" name="task">
                {% for task in tasks %}
                  <option value='{{task}}'>{{task}}</option>
                {% endfor %}
              </select>
            </td>
          <td>
            <br/>
            <br/>
            <button class="btn btn-success" type="submit" name="action" value="start">Select</button>
          </td>
          <td>
          </td>
            {% endif %}
        <td>
        </td>
        </tr>
          

      </tbody>

    </table>


    </form>
  </div>
  </body>

</html>
